article {
  background-color: #7B7475;
  display: inline-block;
  border: .1em solid black;
  border-radius: 10px;
  width: 80%;
  margin: 7.5%;
  padding: 1em;
}

article p {
  display: inline;
  text-align: justify;
}

section {
  background-color: #7B7475;
  display: block;
  border: .1em solid black;
  border-radius: 10px;
  width: 80%;
  margin: 7.5%;
  padding: 1em;
}

.italics {
  display: inline-block;
  font-style: italic;
  color: #DE6A6A;
}

.code {
  border-radius: 5px;
  background-color: #9E9E9E;
  font-family: courier, monospace;
  color: #ffffff;
  display: block;
  text-align: left;
}

.code p {
  display: block;
}

.space {
  height: 1em;
}

.indent {
  position: relative;
  left: 1em;
}

.dubIndent {
  position: relative;
  left: 2em;
}