article {
  background-color: #7B7475;
  display: block;
  border: .5em solid black;
  border-radius: 10px;
  width: 80%;
  margin: 7.5%;
  padding: 1em;
}

section {
  background-color: #7B7475;
  display: block;
  border: .5em solid black;
  border-radius: 10px;
  width: 80%;
  margin: 7.5%;
  padding: 1em;
}
